body {
  font-family: '-apple-system, system-ui, BlinkMacSystemFont, Segoe UI, Roboto, Ubuntu', sans-serif;
}

.gradient-border {
  border-image: linear-gradient(96deg, rgba(255,71,41,1) 0%, rgba(240,240,240,1) 100%);
  border-image-slice: 1;
  
}